<div class="cont">
    <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;font-style: italic;color: white;">Welcome to <span style="font-style:normal;color: rgb(215, 28, 28);font-weight: bolder;">DREADNOUGHT</span> </h1>
    <h4 style="color: wheat;width:250px">We believe humanity's survival depends on us being a spacefaring civilisation and future deep tech founders will lead the way.</h4>
    <button mat-raised-button style="background-color: blue;color: white;" routerLink="../dashboard" (click)="press()">Click Here to view the DASHBOARD</button>
</div>
